<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".RealmApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ItineraryManagementApp"
        tools:targetApi="31">
        <activity
            android:name=".screens.user.AdminActivity_"
            android:exported="false" />
        <activity
            android:name=".screens.user.EditUserActivity_"
            android:exported="false" />
        <activity
            android:name=".screens.user.RegisterActivity_"
            android:exported="false" />
        <activity
            android:name=".screens.user.LoginActivity_"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity_"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.trip.ViewTripActivity_"
            android:exported="false" />
        <activity
            android:name=".screens.trip.EditTripActivity_"
            android:exported="false" />
        <activity
            android:name=".screens.trip.CreateTripActivity_"
            android:exported="false" />
        <activity
            android:name=".screens.trip.TripListActivity_"
            android:exported="false" />
        <activity
            android:name=".screens.event.EditEventActivity_"
            android:exported="false" />
        <activity
            android:name=".screens.event.ViewEventActivity_"
            android:exported="false" />
        <activity
            android:name=".screens.event.CreateEventActivity_"
            android:exported="false" />
        <activity
            android:name=".screens.event.EventListActivity_"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/fileAuthority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <activity android:name=".ImageActivity_" />
    </application>

</manifest>